---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

Please visit my <u><a href="https://scholar.google.com/citations?user=E0I73ZQAAAAJ&hl=en&authuser=1">Google Scholar page</a></u> for an up-to-date and complete list of publications, including conference proceedings.
<!-- {% if author.googlescholar %}
  You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u>
{% endif %} -->

{% include base_path %}

<h2><u>Journal Articles</u>:</h2>
{% for post in site.publications reversed %}
  {% if post.papertype == 'journal' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<!-- <h2><u>Conference Proceedings</u>:</h2>
{% for post in site.publications reversed %}
  {% if post.papertype == 'conference' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %} -->